extends ../layout


block title
    Domains

block content
    section
        h2 Select a domain
        ul
            each domain, collection in domains
                li: a(href="/domains/#{collection}")= domain

